<div class="row">
  <div class="col">
    <h3>Sucursales</h3>
  </div>
  <% if Current.user.has_role? :admin %>
    <div class="col" style="text-align: right;">
      <%= link_to "Nueva", new_branch_path, class: "btn btn-danger" %>
    </div>
  <% end %>
</div>

<hr>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Dirección</th>
      <th scope="col">Teléfono</th>
      <th scope="col" style="text-align: right;">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <%= render @branches %>
  </tbody>
</table>