<div class="row">
  <div class="col">
    <h3>Usuarios</h3>
  </div>
  <% if can? :create, User %>
    <div class="col" style="text-align: right;">
      <%= link_to "Nuevo", new_user_path, class: "btn btn-danger" %>
    </div>
  <% end %>
</div>

<hr>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Correo electrónico</th>
      <th scope="col">Nombre</th>
      <th scope="col">Rol</th>
      <th scope="col">Sucursal</th>
      <th scope="col" style="text-align: right;">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>