html {
  height: 100%;
}

body {
  background-color: #CC0000;
  color: white;
  height: 100%;
}

#content {
  background-color: white;
  color: #18191a;
  border-radius: 5px;
  padding: 2%;
  margin-top: 2%;
  min-height: 80vh;
}

#footer {
  background-color: #18191a;
  color: white;
  padding: 2%;
  margin-top: 2%;
  min-height: 10vh;
}

.btn-danger {
  background-color: #CC0000;
  border-color: #CC0000;
}
